.business-section{
overflow: hidden;
}
.image-card picture, .image-card img{
    border-radius: 8px;
}
.text-card{
    background: rgba(0, 0, 0, 0.40);
    border-radius: 8px;
    height: 566px;
    position: relative;
}
.pin-bussines{
    position: relative;
}
.box-white{
border-radius: 8px;
padding: 32px !important;
background-color: white;
position: absolute;
top: 50%;
left:40%;
transform: translate(-50%,-50%);
}
.pariya{
    position: absolute;
}