.business-section{
overflow: hidden;
padding: 0 16px ;
}
.business-section h3, .business-section h4, .business-section p{
    margin: 0;
}
.business-section .title-global-tour h3{
    font-size: 26px;
    font-weight: 700;
    color: #3D3D3D;
    border-radius: 8px;
}
.image-card picture, .image-card img{
    border-radius: 8px;
    transition: all 1s;
}
.text-card{
    background: rgba(0, 0, 0, 0.40);
    border-radius: 8px;
    height: 100%;
    position: relative;
    border-radius: 8px;

}
.pin-bussines{
    position: relative;
    margin-top: 32px;
}
 .pin-bussines:hover {
    transform: scale(1.08);
    transition: all 1.5s;
}
.box-white{
border-radius: 8px;
padding: 32px !important;
background-color: white;
position: absolute;
top: 50%;
left:40%;
transform: translate(-50%,-50%);
}
.business-section .title-box{
    font-size: 24px;
    font-weight: 700;
}
.business-section .desc-box{
    font-size: 16px;
font-weight: 700;
margin-top: 16px;

}
.pariya{
    position: absolute;
}
@media(max-width:768px){
  
    .box-white{
        border-radius: 8px;
        padding: 32px !important;
        background-color: white;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        }
}
@media(min-width:768px) {
    .business-section .title-global-tour h3{
        font-size: 40px;
        font-weight: 700;
        color: #3D3D3D;
        border-radius: 8px;
    }
    .business-section{
        overflow: hidden;
        padding: 0 0px ;
        }
        .business-section .title-box{
            font-size: 32px;
            font-weight: 700;
        }
        .business-section .desc-box{
            font-size: 20px;
        font-weight: 700;
        margin-top: 16px;
        }
}